/.vagrant/
/node_modules/
/*.log
/.env
.phpunit.result.cache

# Allow Docker Compose override file.
docker-compose.override.yml

# Uploads directory
/uploads/

# Leftover core/plugin upgrade files
/upgrade/

# mu-plugins; these are managed at the platform-level
/mu-plugins/

# drop-ins; these are managed at the platform-level
/db.php

# PHPStan cache
.phpstan-cache/

# Ignore temporary OS files
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Ignore Jetbrains IDE files
.idea/

# Local files that are not tracked by git
.untracked/
