dist: bionic

services:
  - docker

language: php

php: '8.0'

before_install:
  - nvm install
  - nvm use
  - mkdir -p uploads

install:
  - npm install

script:
  - npm run lint
  - npm run test

deploy:

  # Deploy to production.
  - provider: script
    script:
      - npm run deploy-production
    skip_cleanup: true
    on:
      branch: master
      condition: -z $SKIP_DEPLOY

  # Deploy to staging.
  - provider: script
    script:
      - npm run deploy-staging
    skip_cleanup: true
    on:
      branch: develop
      condition: -z $SKIP_DEPLOY

# Travis must run on brances that need to be deployed.
branches:
  only:
  - master
  - develop

cache:
  npm: true
  directories:
    - $HOME/.composer/cache

notifications:
  email: false
