version: '3.3'

services:
  db:
    image: mysql:5.7
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress

  wp:
    depends_on:
      - db
    image: wordpress:latest
    ports:
      - "80:80"
      - "8088:80"
    restart: always
    volumes:
      - ./local/public/wp:/var/www/html
      - ./local/public/wp-config.php:/var/www/html/wp-config.php
      - ./public:/var/www/html/wp-content
      - ./public/plugins/vendor/automattic/vip-go-mu-plugins:/var/www/html/wp-content/mu-plugins
    environment:
      # Don't use WORDPRESS_* environment variables since we have a custom wp-config.php mapped above.
      VIPGOLOCAL: 1

volumes:
  db_data: {}
