<?xml version="1.0"?>
<ruleset name="VIP Go Coding Standards">
	<arg name="extensions" value="php" />
	<arg name="colors" />
	<arg value="s" /><!-- Show sniff codes in all reports. -->
	<arg value="p" /><!-- Show progress. -->

	<file>themes</file>
	<file>vip-config</file>
	<file>client-mu-plugins</file>
	<file>local/public/wp-config.php</file>

	<exclude-pattern>themes/twentytwenty</exclude-pattern>
	<exclude-pattern>plugins/vendor</exclude-pattern>
</ruleset>
