<?xml version="1.0"?>
<ruleset name="WordPress Theme Coding Standards">
	<arg name="extensions" value="php" />
	<arg name="colors" />
	<arg name="parallel" value="16" />
	<arg value="sp" />

	<!-- Lint all PHP files in this directory by default. -->
	<file>.</file>

	<rule ref="WordPress" />

	<rule ref="WordPress-Core">
		<exclude name="Universal.Arrays.DisallowShortArraySyntax.Found" /><!-- We enforce short syntax further down. -->
		<exclude name="Generic.Commenting.DocComment.MissingShort" />
		<exclude name="PSR2.Classes.PropertyDeclaration.Underscore" />
		<exclude name="Universal.CodeAnalysis.ConstructorDestructorReturn.ReturnValueFound" />
		<exclude name="Generic.CodeAnalysis.UnusedFunctionParameter.FoundAfterLastUsed" /><!-- Expected for filters and hooks. -->
		<exclude name="Universal.Operators.DisallowShortTernary.Found" />
	</rule>

	<!-- Enforce short array syntax -->
	<rule ref="Generic.Arrays.DisallowLongArraySyntax.Found">
		<type>warning</type>
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="example-theme" />
			</property>
		</properties>
	</rule>

	<exclude-pattern>*/assets/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/tests/coverage/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/*.asset.php</exclude-pattern>

	<!--
	Prevent errors caused by WordPress Coding Standards not supporting PHP 8.0+.
	See https://github.com/WordPress/WordPress-Coding-Standards/issues/2035
	-->
	<ini name="error_reporting" value="E_ALL &#38; ~E_DEPRECATED" />
</ruleset>
