<?xml version="1.0" encoding="utf-8"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	>
	<testsuites>
		<testsuite name="example">
			<directory suffix=".php">./tests/phpunit/</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory>./php/</directory>
		</include>
	</coverage>
</phpunit>
