/**
 * Theme Name: Example Theme
 * Template: twentytwentyfive
 * Author: XWP
 * Author URI: https://www.xwp.co
 * Update URI: https://www.xwp.co/contact
 * Description: WordPress example theme.
 * Text Domain: example-theme
 * Version: 1.0.0
 */
